@import 'tailwindcss';

@theme {
    --font-arabic: 'Noto Kufi Arabic', sans-serif;
    --font-handwriting: 'Playpen Sans Arabic', cursive;

    --font-text-body: var(--font-arabic);
    --font-text-handwriting: var(--font-handwriting);

    --color-primary-400: #4ade80;
    --color-primary-500: #22c55e;
    --color-primary-600: #16a34a;
}

.heart-pulse {
    animation: heart-pulse 2s infinite 1s cubic-bezier(0.4, 0, 0.2, 1) alternate forwards;
}

@keyframes heart-pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}